@import '~@core/scss/angular/libs/form-wizard.component.scss';

.min-h-200-px {
  min-height: 200px;
}

// .col-sm-1 input{
//   width: 95px ;
// }
.bs-datepicker {
  left: -100px !important;
  top: 182px !important;
}

// bs-datepicker-container{
//   left: -197px !important; 
// }