
//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Bootstrap variables
// $primary: #4186e0;
//$primary: #010101

//Body
$theme-dark-body-color: white !default;

//Typography
$theme-dark-headings-color: white !default;
$theme-dark-label-color: white !default;
$theme-dark-text-muted-color: grey !default;

