// Form Validation

//@import '../../../../@core/scss/base/plugins/forms/form-validation.scss';
//@import '../../../../@core/scss/angular/libs/select.component.scss';

.padding-1 {
    padding: 1.5rem;
  }
  
  .avatar-xxxl {
    font-size: 5rem;
  
    img {
      width: 150px;
      height: 150px
    }
  }
.org-emp-pic{
  margin: 0 0 0 -21px;
height: 50px;   
 width: 50px;
}
  .bg-card-gray{
    background-color: #f2f3f3;
  }