//@import '@core/scss/angular/libs/select.component.scss';
.d-grid {
  display: grid;
  justify-items: center;
  width: 100px;
  //background: rgba(0, 0, 0, 0.10);
  padding: 0.5rem;
  border-radius: 10px;
}

.large-icon {
  height: 2rem !important;
  width: 2rem !important;
  font-size: 2rem !important;
}

.card-header {
  padding: 0;
  background: #8977ff57;
}

.card-title {
  padding-left: 1.5rem;
}

.card-body {
  padding-top: 1.5rem !important;
}
