.avatar-xxxl {
    font-size: 1rem;
  
    img {
      width: 30px;
      height: 30px
    }
  }
  .bg-card-info{
      background-color: #7367f0 !important;
  }
  .border-card{
    border:  1px solid gainsboro;
  }
.invoice-card-icon{
    text-align: center;
    font-size: 4rem;
    margin: 1px 0 0 40px;
    color: white;
}
.invoice-card-no{
    text-align: center;
    margin: 0px 0 0 47px;
    color: white;
}
.invoice-card-date{
    text-align: center;
    margin: 0px 0 0 47px;
    color: white;
}